@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-neumorphic {
  border-radius: 41px;
  background: #edf3ff;
  box-shadow: 16px 16px 50px #c9cfd9, -16px -16px 50px #ffffff;
}

.bg-neumorphic-compos {
  border-radius: 41px;
  background: #edf3ff;
  box-shadow: 16px 20px 200px #c9cfd9, -1px -1px 1px #ffffff;
}

.bg-neumorphic-color {
  border-radius: 41px;
  background: #edf3ff;
}

.bg-neumorphic-color-blue {
  border-radius: 38px;
  background: linear-gradient(145deg, #2044bb, #1b3a9e);
}

.card-shadow-outline {
  @apply outline outline-1 outline-neutral-200 dark:outline-transparent shadow;
}

.table-rowHover-color {
  @apply transition-colors duration-200 ease-in-out hover:bg-blue-100/50 dark:hover:bg-gray-700/40;
}

.sidebar-item {
  @apply flex items-center px-4 py-2 text-sm mt-5 rounded-2xl h-10 transition-colors duration-200 ease-in-out;
}

/* .table-row-color {
  @apply bg-gray-100 dark:bg-gray-600/40;
} */

/* ----------------Error page-------------------- */
.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
/* ----------------/Error page-------------------- */

/* -----------------Scrollbar-------------------- */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(83, 215, 255);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 200, 253);
}
/* ----------------/Scrollbar-------------------- */

/*----------------Colors-------------------- */

.dark-bg {
  /* @apply dark:bg-gradient-to-tr dark:from-gray-900 dark:to-emerald-800; */
  /* @apply dark:bg-gradient-to-tr dark:from-slate-900 dark:via-purple-600 dark:to-slate-50; */
  @apply dark:bg-slate-800;
}

.dark {
  --color-bg-primary: rgb(31 41 55);
  --color-bg-secondary: rgb(55 65 81 / 0.2);
  --color-text-primary: rgb(226 232 240);
  --color-text-secondary: rgb(203 213 225);
  --color-bg-accent: rgb(243 232 255); /*purple-100*/
  --color-text-tertiary: rgb(148 163 184);
  --color-text-quaternary: rgb(100 116 139);
  --color-text-textLighter: rgb(71 85 105);
  --color-text-textLightest: rgb(51 65 85);
  --color-text-accent: rgb(59 130 246);
  --color-bg-input: #4a5361;
  --color-bg-button: rgb(219 234 254 / 0.1);
  --color-bg-button-hover: rgb(219 234 254 / 0.2);
  --color-borderColor: rgb(41 37 36);
}

.light {
  --color-bg-primary: rgb(239, 246, 255);
  --color-bg-secondary: rgb(219, 234, 254);
  --color-bg-accent: rgb(243 232 255); /*purple-100*/
  --color-text-primary: rgb(51 65 85);
  --color-text-secondary: rgb(71 85 105);
  --color-text-tertiary: rgb(100 116 139);
  --color-text-quaternary: rgb(148 163 184);
  --color-text-textLighter: rgb(226 232 240);
  --color-text-textLightest: rgb(248 250 252);
  --color-text-accent: rgb(59 130 246);
  --color-bg-input: #edf2f7;
  --color-bg-button: rgb(219, 234, 254);
  --color-bg-button-hover: rgb(191 219 254);
  --color-borderColor: rgb(203 213 225);
}
/*----------------/Colors--------------------*/
